<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<bean id="bookService" class="com.creat.lib.service.impl.BookServiceImpl"></bean>
	<bean id="categoryService" class="com.creat.lib.service.impl.CategoryServiceImpl"></bean>
	<bean id="stackService" class="com.creat.lib.service.impl.StackServiceImpl"/>
	<bean id="recordService" class="com.creat.lib.service.impl.RecordServiceImpl"/>
	<bean id="recommenderSystem" class="com.creat.lib.component.RecommenderSystem"/>
	<bean id="bookCartService" class="com.creat.lib.service.impl.BookCartServiceImpl"/>
	<bean id="timeTask" class="com.creat.lib.component.TimeTask"/>
</beans>