.mBookInfoFillUpWrap {
    margin: .5rem 0 0 0;
    padding: .5rem .5rem .5rem .5rem;
    height: 100%;
    width: 100%;
    border: #bbb solid medium;
    background-color: #fff;
    display: flex;
}

.mBookInfoFillUpWrap .mBookInfoFillUpLeftWrap {
	display: inline-block;
    flex: 1;
    text-align: center;
}

.mBookInfoFillUpWrap .mBookInfoFillUpLeftWrap .mBookInfoFillUpPhoto {
	margin: 0;
	padding: .5rem .5rem .5rem .5rem;
}

.mBookInfoFillUpWrap .mBookInfoFillUpLeftWrap .mBookInfoFillUpPhoto img {
    height: 4rem;
    width: 3rem;
}

.mBookInfoFillUpWrap .mBookInfoFillUpRightWrap {
	display: inline-block;
    flex: 1;
}

.mBookInfoFillUpWrap .mBookInfoFillUpRightWrap .mBookInfoFillUpItemWrap {
    margin: .1rem 0 0 0;
}

.mBookInfoFillUpWrap .mBookInfoFillUpRightWrap .mBookInfoFillUpItemWrap .mBookInfoFillUpItemTitle {
	font-size: .5rem;
    display: inline-block;
}

.mBookInfoFillUpWrap .mBookInfoFillUpRightWrap .mBookInfoFillUpItemWrap .mBookInfoFillUpItemInput {
    display: inline-block;
}

.mBookInfoFillUpWrap .mBookInfoFillUpRightWrap .mBookInfoFillUpItemWrap .mBookInfoFillUpItemInput input {
	height: 100%;
	width: 100%;
    font-size: .5rem;
    background: transparent;
    border: #bbb solid medium;
    color: #000;
}

.mCheckInputBooksWrap {
	margin: .5rem 0 0 0;
	padding: 0;
	background-color: #fff;
    border: #bbb solid medium;
    font-size: 1rem;
    display: flex;
}

.mCheckInputBooksWrap .mCheckInputBooksSelector {
    display: inline-block;
    flex: 1;
}

.mCheckInputBooksWrap .mCheckInputBooksSelector select {
	height: 100%;
	width: 100%;
    display: inline-block;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: #4CAF50;
}

.mCheckInputBooksWrap .mCheckInputBooksSelector option {
	padding: 0 0 0 .5rem;
	font-size: 1rem;
    display: block;
    text-align: center;
    white-space: pre;
    min-height: 1.2em;
}

.mCheckInputBooksWrap .mCheckInputBooksSubmit {
	height: inherit;
	width: auto;
	height: auto;
	flex: 1;
}

.mCheckInputBooksWrap .mCheckInputBooksSubmit button {
	background-color: #4CAF50;
	font-size: 1rem;
	height: 100%;
	width: 100%;
}