/* 头部 */

.mHeaderWrap {
    margin: 0rem;
    padding: 0rem;
    height: 1.5rem;
    width: 100%;
    background-color: #fff;
    position: fixed;
}

.mHeaderWrap .mHeaderTitle {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* 主体 */

.mContentWrap {
    padding: 2rem 0 0 0;
    height: 100%;
}

/* 轮播图 */

.mSlideShowWrap {
    margin: 0;
    padding: .2rem 0 0 0;
    height: 5.6rem;
    width: 100%;
    display: block;
}

.mSlideShowWrap .mNewBooksSideBar {
    margin: 0;
    padding: 0;
    height: 5.6rem;
    width: 1.4rem;
    display: block;
    float: left;
    background-color: #fff;
}

.mSlideShowWrap .mNewBooksSideBar .mSideBarTitle {
    margin: 0;
    padding: 0 0 .4rem .1rem;
    height: 1rem;
    width: auto;
    display: block;
    color: #000;
}

.mSlideShowWrap .mCarousel {
    margin: 0 0 0 2rem;
    padding: 0;
    height: 5.6rem;
    width: auto;
    display: block;
    background-color: #fff;
}

.mSlideShowWrap .nextSlid {
    ;
}

/* 书库 */

.mAllStackWrap {
    margin: .5rem 0 3rem 0;
    padding: 0;
    width: 100%;
    display: block;
}

.mAllStackWrap .mStackHeader {
    height: auto;
    background-color: #fff;
}

.mAllStackWrap .mStackHeader .mStackTitle {
    text-align: center;
}

/* 具体书库 */

.mAllStackWrap .mStackWrap {
    margin: .5rem 0 0 0;
    padding: 0;
    display: flex;
}

.mAllStackWrap .mStackWrap .mStackSideBar {
    width: 4rem;
    border: #bbb solid medium;
    background-color: #fff;
}

.mAllStackWrap .mStackWrap .mStackCategoriesWrap {
    background-color: #fff;
    flex: 1;
}

/* 每个 mStackCategorie 的链接属性 */
.mStackCategoriesLink {
    color: #0000ff;
    text-decoration: none;
}

.mAllStackWrap .mStackWrap .mStackCategoriesWrap .mStackCategorie {
    border: #bbb solid medium;
    text-align: center;
    background-color: #fff;
}

