.mListWrap {
    margin: .5rem 0 0 0;
}

.mListWrap .mListItem {
    text-align: center;
    border: #bbb solid medium;
    background-color: #fff;
}

.mListWrap .mListItem a {
    text-decoration: none;
}