.mUserInfoWrap {
    margin: 0;
    padding: .5rem 0 .5rem 0;
    height: 2rem;
    width: 100%;
    border: #bbb solid medium;
    background-color: #fff; 
}

.mUserInfoWrap .mUserPhoto {
    margin: 0 0 0 1rem;
    padding: 0;
    height: 2rem;
    display: inline;
    float: left;
}

.mUserInfoWrap .mUserPhoto img {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}

.mUserInfoWrap .mUserName {
    margin: 0 0 0 3.5rem;
    padding: 0;
}

.mUserInfoWrap .mUserWelcome {
    margin: 0 0 0 3.5rem;
    padding: 0;
    font-size: .5rem;
    color: #dbdbdb;
}

.mListWrap {
    margin: .5rem 0 0 0;
}

.mListWrap .mListItem {
    text-align: center;
    border: #bbb solid medium;
    background-color: #fff;
}

.mListWrap .mListItem a {
    text-decoration: none;
}