html {
    font-size: 20px;
}

@media screen and (min-width: 569px) {
    html {
        font-size: 35px !important;
    }
}

@media screen and (min-width: 428px) and (max-width: 569px) {
    html {
        font-size: 26.75px!important;
    }
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-family: PingFang SC,Microsoft YaHei,Arial;
}

body {
    overflow-x: hidden;
    background: #f0f0f0;
}

div {
    display: block;
}

img {
    border: 0;
}

.mNavWrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.3rem;
    background-color: #f0f4f3;
    border-top: .05rem solid #d0d0d0;
    z-index: 10
}

.mNavWrap .mNavInnerWrap {
    width: 33.33%;
    height: 2.3rem;
    position: relative;
    float: left
}

.mNavWrap .mNavInnerWrap .mNavInnerLogo {
    width: 1.15rem;
    height: 1.15rem;
    position: relative;
    left: 50%;
    margin-left: -.55rem;
    top: .25rem
}

.mNavWrap .mNavInnerWrap .mNavInnerTitle {
    font-size: .5rem;
    width: 100%;
    position: absolute;
    bottom: .25rem;
    left: 0;
    text-align: center;
    color: #989898
}

.mNavWrap .mNavInnerWrap .mNavInnerTitleAvtive {
    color: #2f7ae3
}

.clear {
    width: 0;
    height: 0;
    clear: both
}