<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.lib.mapper.BookItemMapper" >
  <resultMap id="BaseResultMap" type="com.creat.lib.po.BookItem" >
    <id column="bi_id" property="biId" jdbcType="INTEGER" />
    <result column="b_id" property="bId" jdbcType="VARCHAR" />
    <result column="coding" property="coding" jdbcType="VARCHAR" />
    <result column="borrow" property="borrow" jdbcType="BIT" />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bi_id, b_id, coding, borrow
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.lib.po.BookItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book_item
    where bi_id = #{biId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book_item
    where bi_id = #{biId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.lib.po.BookItemExample" >
    delete from book_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.lib.po.BookItem" >
    insert into book_item (bi_id, b_id, coding, 
      borrow)
    values (#{biId,jdbcType=INTEGER}, #{bId,jdbcType=VARCHAR}, #{coding,jdbcType=VARCHAR}, 
      #{borrow,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.creat.lib.po.BookItem" >
    insert into book_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="biId != null" >
        bi_id,
      </if>
      <if test="bId != null" >
        b_id,
      </if>
      <if test="coding != null" >
        coding,
      </if>
      <if test="borrow != null" >
        borrow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="biId != null" >
        #{biId,jdbcType=INTEGER},
      </if>
      <if test="bId != null" >
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="coding != null" >
        #{coding,jdbcType=VARCHAR},
      </if>
      <if test="borrow != null" >
        #{borrow,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.lib.po.BookItemExample" resultType="java.lang.Integer" >
    select count(*) from book_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update book_item
    <set >
      <if test="record.biId != null" >
        bi_id = #{record.biId,jdbcType=INTEGER},
      </if>
      <if test="record.bId != null" >
        b_id = #{record.bId,jdbcType=VARCHAR},
      </if>
      <if test="record.coding != null" >
        coding = #{record.coding,jdbcType=VARCHAR},
      </if>
      <if test="record.borrow != null" >
        borrow = #{record.borrow,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update book_item
    set bi_id = #{record.biId,jdbcType=INTEGER},
      b_id = #{record.bId,jdbcType=VARCHAR},
      coding = #{record.coding,jdbcType=VARCHAR},
      borrow = #{record.borrow,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.lib.po.BookItem" >
    update book_item
    <set >
      <if test="bId != null" >
        b_id = #{bId,jdbcType=VARCHAR},
      </if>
      <if test="coding != null" >
        coding = #{coding,jdbcType=VARCHAR},
      </if>
      <if test="borrow != null" >
        borrow = #{borrow,jdbcType=BIT},
      </if>
    </set>
    where bi_id = #{biId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.lib.po.BookItem" >
    update book_item
    set b_id = #{bId,jdbcType=VARCHAR},
      coding = #{coding,jdbcType=VARCHAR},
      borrow = #{borrow,jdbcType=BIT}
    where bi_id = #{biId,jdbcType=INTEGER}
  </update>
</mapper>