<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.lib.mapper.SerialNumMapper" >
  <resultMap id="BaseResultMap" type="com.creat.lib.po.SerialNum" >
    <id column="sn_id" property="snId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sn_id, number, c_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.creat.lib.po.SerialNumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from serial_num
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from serial_num
    where sn_id = #{snId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from serial_num
    where sn_id = #{snId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.creat.lib.po.SerialNumExample" >
    delete from serial_num
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.creat.lib.po.SerialNum" >
    insert into serial_num (sn_id, number, c_id
      )
    values (#{snId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.creat.lib.po.SerialNum" >
    insert into serial_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="snId != null" >
        sn_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="snId != null" >
        #{snId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.creat.lib.po.SerialNumExample" resultType="java.lang.Integer" >
    select count(*) from serial_num
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update serial_num
    <set >
      <if test="record.snId != null" >
        sn_id = #{record.snId,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update serial_num
    set sn_id = #{record.snId,jdbcType=INTEGER},
      number = #{record.number,jdbcType=INTEGER},
      c_id = #{record.cId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.creat.lib.po.SerialNum" >
    update serial_num
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
    </set>
    where sn_id = #{snId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creat.lib.po.SerialNum" >
    update serial_num
    set number = #{number,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER}
    where sn_id = #{snId,jdbcType=INTEGER}
  </update>
</mapper>