<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creat.lib.mapper.StackCustomMapper">
    <resultMap id="stacksMap" type="com.creat.lib.po.StackCustom">
        <id column="s_id" property="sId" jdbcType="INTEGER"/>
        <result column="s_name" property="sName" jdbcType="VARCHAR"/>
        <collection property="categories" column="s_id"
                    select="com.creat.lib.mapper.CategoryCustomMapper.selectBySid"></collection>
    </resultMap>
    <select id="getAllStacks" resultMap="stacksMap">
      SELECT s_id,s_name FROM stack
    </select>
</mapper>